body{
    background-color: #fff;
}

#logo{
    justify-content: ;
}

.nav-stuff{
    padding: 10px 5px;
    margin: 10px 5px;
}

#pfp{
    border-radius: 50%;
    margin-top: -8px;
    cursor: pointer;
}

#search-box{
    justify-content:;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: arial,sans-serif;
    font-size: 13px;
    padding-right: 20px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.main-stuff{
    padding: 5px 5px;
    margin: 15px 15px;
}

main {
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

input{
    
    height: 44px;
    width: 600px;
    border-radius: 60px;
    border:2px solid rgb(237, 243, 243);
    outline: none;
}

.button-style{
    padding:0px 16px;
    margin:11px 4px;
    color: #3c4043;;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    background-color: #f8f9fa;
    width: 150px;
    height:36px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    text-align: center;
    cursor:pointer;
}

.shadoh:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.btf{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.btfback{
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
}

footer{
    display: block;
    line-height: 40px;
    padding-left: 27px;
}

.btfbtm{
    display: inline-block;
}

#bordertop{
    border-top: 1px solid #dadce0;
}

.ffc{
    font: arial,sans-serif;
    color: rgba(0,0,0,.54);
}

#flt-right{
    float: right;
    margin-right: 30px;
}

#flt-left{
    float: left;
}

.btmpad{
    padding-left: 27px;
}